# caches / tmp
__pycache__

# folders that populate automatically
batches/*
videos/*
archive

# files that populate automatically
download_archive.txt
logs.txt

# venv
.venv

# secrets
.env
client_secret.json
credentials.json